<form action="/user/update/<%= user.id %>" method="POST">
  <h2>Hey, you're editing a user...</h2>

  <input type="text" value="<%= user.name %>" name="name">
  <input type="text" value="<%= user.surname %>" name="surname">
  <input type="email" value="<%= user.email %>" name="email">

  <input type="submit" value="Proceed">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>